<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.bbj.jingdiao.bbjssxx.mapper.BbjZcLitigationInformationMapper" >

  <sql id="Base_Column_List" >
    t.id,
    t.create_by AS "createBy.id",
    t.create_date,
    t.update_by AS "updateBy.id",
    t.update_date,
    t.del_flag,
    t.remarks,
    t.the_expiry_date_of_the_principal_credit,
    t.sfzzq_timeout,
    t.adsxzh_time,
    t.sfab_timeout,
    t.la_time,
    t.case_no,
    t.case_stage,
    t.pjzctj_effective_date,
    t.court_of_ppeal,
    t.litigant,
    t.sqzx_lasttime,
    t.zxaj_no,
    t.zx_endtime,
    t.end_the_execution_date,
    t.end_of_execution_date,
    t.enforcement_of_court,
    t.executive_contractor,
    t.property_preservation_type,
    t.sdf_decision_number,
    t.szf_verdict_day,
    t.last_due_date,
    t.pczqzhsbr,
    t.pcah,
    t.pczj_time,
    t.sfzsbzr
  </sql>
  
</mapper>