<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.bbj.jingdiao.bbjzcb.mapper.BbjZcPropertyPkgMapper" >

  <sql id="Base_Column_List" >
    t.id,
    t.loan_origination,
    t.transferor,
    t.holder,
    t.principal_balance,
    t.interest,
    t.sotoppi,
    t.interest_accrual_endtime,
    t.cs_outtime,
    t.cs_ctime,
    t.transferor_outime,
    t.aocr_ly,
    t.aocr_ty,
    t.annual_return_target,
    t.create_by AS "createBy.id",
    t.create_date,
    t.update_by AS "updateBy.id",
    t.update_date,
    t.remarks,
    t.del_flag
  </sql>
  
</mapper>